<% include _header %>

<div class="container">
  <h1>Frontpage</h1>

  <div>

    <a class="btn btn-dark" href="/signup">Sign up</a>

    <a class="btn btn-secondary" href="/">Login</a>

  </div>
</div>

<% include _footer %>