<% include _header %>
<div class="container">

<% if ((currentUser) && (currentUser.id === user.id)) { %>
<a href="/edit" class="pull-right">Edit your profile</a>
<% } %>

<h2><%= user.name() %></h2>
<h3>Joined on: <%= user.createdAt %></h3>
<h3>API Key: <%=user.apiKey %><h3>

<% if (user.bio) { %>
<p><%= user.bio %></p>
<% } %>

</div>

<% include _footer %>